<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quantumcoder.iitd_complaints">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Added request for internet permission -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    >
    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.quantumcoder.iitd_complaints.GreetingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.quantumcoder.iitd_complaints.LoginActivity"
            android:label="Moodleplus"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.quantumcoder.iitd_complaints.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.quantumcoder.iitd_complaints.Signup_Activity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.quantumcoder.iitd_complaints.CoursePage"
            android:label="@string/title_activity_course_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.quantumcoder.iitd_complaints.Complaint_activity"
            android:label="@string/title_activity_complaint_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.quantumcoder.iitd_complaints.detail_comp_activity"
            android:label="@string/title_activity_detail_comp_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
